* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // font-family: "Noto Serif TC", serif; //標題
  font-family: "Montserrat", serif;
  font-family: "Noto Sans TC", serif;
  background-color: #ffffff;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 80px;
  transition: background-color 0.3s, padding 0.3s;
  div.left {
    height: 100%; //讓dropdown hover時不會跑掉
    display: flex;
    justify-content: center;
    align-items: center;
    a.logo {
      img {
        position: relative; //logo對齊需要調下一點
        bottom: -0.5rem;
        width: 120px;
      }
    }
    //nav bar
    nav {
      height: 100%; //讓dropdown hover時不會跑掉
      display: flex;
      justify-content: center;
      align-items: center;
      ul.navi {
        height: 100%; //讓dropdown hover時不會跑掉
        display: flex;
        justify-content: center;
        align-items: center;
        li {
          height: 100%; //讓dropdown hover時不會跑掉
          list-style: none;
          margin: 0 10px;
          a {
            height: 100%; //讓dropdown hover時不會跑掉
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #ffffff;
            font-size: 1rem;
            font-weight: 300;
            transition: 0.5s ease-in-out;
            i {
              margin-left: 0.5rem;
              color: #717171;
              font-size: 0.75rem;
            }
            &:hover {
              color: #717171;
            }
          }
          //dropdown
          &.dropdown {
            a {
              padding-left: 20px;
            }
            ul.dropdown {
              display: none;
              position: absolute;
              top: 80px;
              background-color: #ffffff;
              li {
                a {
                  color: #717171;
                  font-size: 1rem;
                  text-decoration: none;
                  display: block;
                  padding: 10px 15px;
                  transition: 0.5s ease-in-out;
                  &:hover {
                    color: #000000;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  div.right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; //間距
    div.member {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        text-decoration: none;
        color: #ffffff;
        font-size: 1rem;
        transition: 0.5s ease-in-out;
        &:hover {
          color: #717171;
        }
      }
      p {
        color: #717171;
        font-size: 0.75rem;
        padding: 0 10px;
      }
    }
    //菜單按鈕
    div.menu_btn {
      height: 23px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      display: none; //預設隱藏
      span {
        display: block;
        width: 30px;
        height: 2px;
        background-color: #ffffff;
        transition: 0.5s ease-in-out;
      }
    }
  }
  a {
    transition: 0.5s ease-in-out;
  }
  //RWD======================================
  @media screen and (max-width: 1000px) {
    div.left {
      nav {
        display: none;
      }
    }
    div.right {
      div.menu_btn {
        display: flex;
        cursor: pointer;
      }
    }
  }
  @media screen and (max-width: 500px) {
    padding: 0 20px;
    div.right {
      div.member {
        display: none;
      }
    }
  }
}

main {
  //banner-------------------------------------
  section.banner_area {
    width: 100%;
    position: relative;
    max-height: 95vh;
    overflow: hidden;
    img.banner-img {
      width: 100%;
      animation: banner 5s;
    }
    div.text_logo {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -35%);
      img {
        transform: scale(0.9);
      }
    }
    //動畫
    @keyframes banner {
      0% {
        transform: scale(1.5);
      }
      100% {
        transform: scale(1);
      }
    }
    //RWD======================================
    @media screen and (max-width: 850px) {
      min-height: 60vh;
      img.banner-img {
        height: 60vh;
        object-fit: cover;
      }
      div.text_logo {
        img {
          width: 100%;
          transform: scale(1);
        }
      }
    }
  }
  //活動banner---------------------------------
  section.activity_banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    div {
      width: 80%;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    //RWD======================================
    @media screen and (max-width: 1000px) {
      div {
        width: 100%;
      }
    }
  }
  //經典選品---------------------------------------
  section.classic_area {
    padding: 40px 8vw;
    //標題
    div.title {
      display: flex;
      justify-content: start;
      align-items: end;
      padding: 50px 0;
      h2 {
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 600;
        font-family: "Noto Serif TC", serif; //標題
      }
      p {
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 300;
        padding-left: 10px;
        border-left: 1px solid #606060;
        margin-left: 10px;
      }
    }
    //商品
    div[class^="item-area"] {
      display: flex;
      justify-content: space-between;
      gap: 20px; //間距
      margin-bottom: 10px;
      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .show_area {
          position: relative;
          img {
            width: 100%;
          }
          img.hover {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: 0.5s ease-in-out;
            &:hover {
              opacity: 1;
            }
          }
          h4.tag {
            position: absolute;
            top: 30px;
            left: 20px;
            background-color: #000000;
            color: #ffffff;
            padding: 5px 2rem;
          }
        }
        .info {
          padding: 20px 0;
          h3 {
            font-weight: normal;
          }
          p {
            color: #656565;
            padding-top: 10px;
          }
        }
      }
    }
    .item-area1 {
      .item {
        // width: 50%;
      }
    }
    //按鈕
    div.btn {
      padding: 80px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        text-decoration: none;
        color: #ffffff;
        background-color: #000000;
        padding: 10px 2rem;
        transition: 0.5s ease-in-out;
        &:hover {
          background-color: #622d2d;
        }
      }
    }
    //RWD======================================
    @media screen and (max-width: 990px) {
      div[class^="item-area"] {
        flex-direction: column;
        gap: 20px; //間距
      }
    }
  }
  //工藝-----------------------------------------
  section.technology_area {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 80px; //間距
    margin-bottom: 80px;
    article.container1 {
      display: grid;
      grid-template-columns: 4fr 5fr; //3欄
      grid-template-rows: 1fr 1fr 4fr 1fr; //4列
      gap: 10px; //間距
      grid-template-areas:
        "logo img"
        "logo_text img"
        "h1 img"
        "p img";
      div {
        &.grid-logo {
          grid-area: logo;
          img {
            width: 50%;
          }
        }
        &.grid-logo_text {
          grid-area: logo_text;
          color: #656565;
          h3 {
            font-weight: normal;
            letter-spacing: 0.1rem;
          }
        }
        &.grid-h1 {
          grid-area: h1;
          writing-mode: vertical-lr; //文字垂直
          text-align: end;
          .grid-h1-text {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            gap: 10px; //間距
            letter-spacing: 0.5rem;
            font-family: "Noto Serif TC", serif; //標題
          }
        }
        &.grid-p {
          grid-area: p;
          color: #656565;
          display: flex;
          flex-direction: column;
          justify-content: end;
          gap: 10px; //間距
        }
        &.grid-img {
          grid-area: img;
          img {
            width: 100%;
          }
        }
      }
    }
    article.container2 {
      display: grid;
      grid-template-columns: 5fr 3fr; //3欄
      grid-template-rows: 5fr 1fr; //4列
      gap: 10px; //間距
      grid-template-areas:
        "img h1"
        "img p";
      div {
        &.grid-img {
          grid-area: img;
          img {
            width: 100%;
          }
        }
        &.grid-h1 {
          grid-area: h1;
          writing-mode: vertical-lr; //文字垂直
          text-align: end;
          .grid-h1-text {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            gap: 10px; //間距
            letter-spacing: 0.5rem;
            font-family: "Noto Serif TC", serif; //標題
          }
        }
        &.grid-p {
          grid-area: p;
          color: #656565;
          display: flex;
          flex-direction: column;
          justify-content: end;
          gap: 10px; //間距
        }
      }
    }
    article.container3 {
      display: grid;
      grid-template-columns: 3fr 5fr; //2欄
      grid-template-rows: 3fr 1fr 1fr; //3列
      gap: 10px; //間距
      grid-template-areas:
        "h1 img"
        "p img"
        "btn img";
      div {
        &.grid-h1 {
          grid-area: h1;
          writing-mode: vertical-lr; //文字垂直
          text-align: end;
          .grid-h1-text {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            gap: 10px; //間距
            letter-spacing: 0.5rem;
            font-family: "Noto Serif TC", serif; //標題
          }
        }
        &.grid-p {
          grid-area: p;
          color: #656565;
          display: flex;
          flex-direction: column;
          justify-content: end;
          gap: 10px; //間距
        }
        &.grid-btn {
          grid-area: btn;
          position: relative;
          a {
            position: absolute;
            bottom: 0;
            text-decoration: none;
            color: grey;
            border: grey 1px solid;
            padding: 10px 2rem;
            transition: 0.5s ease-in-out;
            &:hover {
              background-color: #000000;
              color: #ffffff;
              border: none;
            }
          }
        }
        &.grid-img {
          grid-area: img;
          img {
            width: 100%;
          }
        }
      }
    }
    //RWD======================================
    @media screen and (max-width: 1000px) {
      article.container1,
      article.container2,
      article.container3 {
        display: flex;
        flex-direction: column;
        gap: 10px; //間距
      }
      div[class^="grid-"] {
        &.grid-logo {
          img {
            width: 100%;
          }
        }
        &.grid-h1 {
          text-align: center;
          .grid-h1-text {
            display: flex;
            flex-direction: row;
            h1,
            h2 {
              writing-mode: horizontal-tb; //文字水平
              font-size: 1.5rem;
            }
          }
        }
        &.grid-p {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px; //間距
        }
        &.grid-img {
          img {
            height: 500px;
            object-fit: cover;
          }
        }
        &.grid-btn {
          margin-top: 50px;
        }
      }
    }
    @media screen and (max-width: 500px) {
      div[class^="grid-"] {
        &.grid-logo_text {
          h3 {
            letter-spacing: 0rem;
            font-size: 0.9rem;
          }
        }
        &.grid-h1 {
          .grid-h1-text {
            h1,
            h2 {
              font-size: 1rem;
              letter-spacing: 0rem;
            }
          }
        }
        &.grid-p {
          p {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
  //banner2-----------------------------------------
  section.banner_area2 {
    width: 100%;
    position: relative;
    max-height: 650px;
    overflow: hidden;
    img.banner2-img {
      width: 100%;
      animation: banner 5s;
    }
    div.text_area {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      .text {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        padding: 30px 0;
        .text-p {
          display: flex;
          p {
            font-size: 1.25rem;
            letter-spacing: 0.1rem;
            font-weight: 300;
            color: #636363;
            span {
              color: #232323;
              font-weight: 500;
            }
          }
        }
        //按鈕
        div.btn {
          padding-top: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            text-decoration: none;
            color: #ffffff;
            background-color: #434343;
            padding: 10px 2rem;
            transition: 0.5s ease-in-out;
            &:hover {
              background-color: #622d2d;
            }
          }
        }
      }
    }
    //RWD======================================
    @media screen and (max-width: 500px) {
      max-height: 500px;
      img.banner2-img {
        height: 500px;
        object-fit: cover;
      }
      div.text_area {
        .text {
          .text-p {
            p {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
  //其他資訊-----------------------------------------
  section.other_info {
    display: flex;
    flex: 1 1 450px;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: center;
    padding: 40px;
    gap: 20px; //間距
    article {
      width: 450px;
      position: relative;
      a.item_img {
        text-decoration: none;
        color: #000000;
        img {
          width: 100%;
          height: 400px;
          object-fit: cover;
        }
      }
      .text_area {
        width: 200px;
        position: absolute;
        top: 50px;
        right: 10px;
        h1 {
          font-family: "Noto Serif TC", serif; //標題
          font-size: 1.5rem;
          font-weight: 600;
        }
        p {
          color: #7e7e7e;
          padding-top: 10px;
        }
        div.btn {
          padding-top: 50px;
          a {
            text-decoration: none;
            color: grey;
            outline: grey 1px solid;
            padding: 10px 2rem;
            transition: 0.5s ease-in-out;
            &:hover {
              background-color: #000000;
              color: #ffffff;
              border: none;
            }
          }
        }
      }
    }
    //RWD======================================
    @media screen and (max-width: 1017px) {
      article {
        width: 100%;
        max-height: 400px;
        overflow: hidden;

        .text_area {
          right: 8vw;
        }
      }
    }
  }
}

footer {
  position: relative;
  background-color: #ffffff;
  padding: 0 80px 20px 80px;
  div.top {
    display: flex;
    justify-content: space-between;
    div.left {
      section {
        display: flex;
        gap: 20px; //間距
        margin: 20px 0 80px;
        img {
          width: 200px;
        }
        article {
          border-left: 1px solid #656565;
          padding: 0 20px;
        }
      }
      div {
        display: flex;
        gap: 20px; //間距
        margin-bottom: 20px;

        a {
          text-decoration: none;
          width: 50px;
          height: 50px;
          border-radius: 100px;
          border: #c9c9c9 1px solid;
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            font-size: large;
          }
          transition: 0.5s ease-in-out;
          &:hover {
            border: #656565 1px solid;
          }
        }
      }
      a,
      p {
        text-decoration: none;
        color: #656565;
        font-size: 0.9rem;
      }
      p {
        padding-bottom: 10px;
      }
    }
    div.right {
      margin-top: 20px;
      nav {
        ul {
          display: flex;
          gap: 20px; //間距
          li {
            list-style: none;
            p {
              font-family: "Noto Serif TC", serif;
              font-weight: 600;
              padding-bottom: 10px;
            }
            ul {
              display: flex;
              flex-direction: column;
              gap: 5px; //間距
              li {
                a {
                  text-decoration: none;
                  color: #656565;
                  font-size: 0.9rem;
                  font-weight: 300;
                  transition: 0.5s ease-in-out;
                  &:hover {
                    color: #000000;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  div.bottom {
    padding-top: 50px;
    display: flex;
    gap: 20px; //間距
    a,
    p {
      text-decoration: none;
      color: #656565;
      font-size: 0.9rem;
    }
  }
  // 置頂按鈕
  .top_btn {
    position: absolute;
    bottom: 100px;
    right: 100px;
    cursor: pointer;
  }

  //RWD======================================
  @media screen and (max-width: 1000px) {
    div.top {
      flex-direction: column;
      justify-content: center;
      .left {
        border-bottom: #c3c3c3 1px solid;
        padding-bottom: 20px;
        section.logo {
          margin-bottom: 30px;
          flex-direction: column;
          align-items: center;
          article {
            display: none;
          }
        }
        div {
          justify-content: center;
        }
        a,
        p {
          text-align: center;
        }
      }
      .right {
        display: flex;
        justify-content: center;
        padding-top: 20px;
      }
    }
    div.bottom {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px; //間距
      p {
        font-size: 0.75rem;
        color: #a7a7a7;
      }
    }
  }
}

//右側菜單----------------------------------------------------
aside.menu {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 1000;
  width: 65vw;
  min-width: 300px;
  padding: 20px 0;
  background-color: #ffffff;
  box-shadow: #232323 0px 0px 10px;
  transition: 0.5s ease-in-out;
  .top {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .close_btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      cursor: pointer;
      color: #6e6e6e;
      i {
        font-size: 1.5rem;
        transition: 0.5s ease-in-out;
      }
      p {
        font-size: 0.9rem;
      }
      //hover
      &:hover {
        i {
          transform: rotate(180deg);
        }
      }
    }
  }
  nav {
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px; //間距
      li {
        list-style: none;
        border-bottom: #c9c9c9 1px solid;
        padding: 10px 50px;
        a {
          display: flex;
          justify-content: space-between;
          text-decoration: none;
          color: #000000;
          font-size: 1rem;
          font-weight: 300;
          transition: 0.5s ease-in-out;
          &:hover {
            color: #717171;
          }
        }
        ul.dropdown {
          display: none;
          li {
            border-bottom: none;
            a {
            }
          }
        }
      }
    }
  }
}
